
* {
    font-family: Arial, Helvetica, sans-serif;
    }
    body{
        margin: 0;
        padding: 0;
        border: 0;
    }
    /* header */
    header{
        background-color: #232323;
        width: 100%;
        height: 10vh;
        padding-top: 10px;
        border-bottom: 4px solid rgb(0, 255, 255);
        
    }
    .cor{
        color: rgb(0, 255, 255);
    }
    .container{
        max-width: 60%;
        height: 100%;
        margin: 0 auto;
    }
    .container h1{
        float: left;
        color: white;
        
        
    }
    .container nav{
        float: right;
        color: white;
        margin-top: 15px;
        list-style: none;
        
        
    }
    .container li{
        margin-left: 2rem;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
    }
    .container li:hover{
        color: rgb(0, 255, 255);
        text-decoration: underline;
    }
    /*Ajuste de texto principal*/
    .title {
        margin:50px;
    }
    .corpo_cadastro {
        width: 100%;
        display: flex;
    }
    
    .caixab_cadastro {
        width: 50%;
        padding-left: 24px;
    }

    
    .corpo_cadastro .input_padrao {
        width: 25em;
        display: inline-block;
    }
    
    .imgCaixa{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .imgCaixa img {
        width: 500px;
    }
    /*Ajuste da Imagem*/
    
    /*Ajuste do botao*/
    .botao_cadastrar  {
        color: black;
        padding: 15px 15px;
        cursor: pointer;
        border-radius: 5px;
        background-color: #55a630;
        border: 0;
    }
    
    .corpo_cadastro .botao_cadastrar {
        display: block;
        float: left;
        margin: 15px auto;
    }
    
    /*Ajuste dos inputs/placeholders*/
    .input_padrao {
        height: 25px;
    }
    
    /*Ajuste do Foruláriom*/
    form {
        margin-left: 40px;
        font-weight: 600;
    }
    footer {
        background-color: rgba(0, 255, 255, 0.192); /* COR DO FUNDO DA DIV FOOTER */
        height: 110px; /* ALTURA DA DIV */
    }
    
    footer p {
        margin: 0; /* SOMENTE SE TIVER MARGIN, TODAS AS 4 MARGENS TERÃO 0 */
        color: black; /* COR DA FRASE P */
        padding-top: 30px; /* PREENCHIMENTO SUPERIOR DA DIV FOOTER */
        text-align: center; /* ALINHAMENTO HORIZONTAL DO TEXTO */
        font-size: 15px;
    }
    